[submodule ".registry"]
	path = .registry
	url = https://github.com/mohsaqr/mohsaqr.r-universe.dev
	branch = HEAD
[submodule "Dynet"]
	path = Dynet
	url = https://github.com/mohsaqr/Dynet
[submodule "Nestimate"]
	path = Nestimate
	url = https://github.com/mohsaqr/Nestimate
[submodule "Saqrlab"]
	path = Saqrlab
	url = https://github.com/mohsaqr/Saqrlab
[submodule "Saqrmisc"]
	path = Saqrmisc
	url = https://github.com/mohsaqr/Saqrmisc
[submodule "VaSSTra"]
	path = VaSSTra
	url = https://github.com/sonsoleslp/vasstra
[submodule "bibnets"]
	path = bibnets
	url = https://github.com/mohsaqr/bibnets
[submodule "carmar"]
	path = carmar
	url = https://github.com/mohsaqr/CarmaR-releases
[submodule "codyna"]
	path = codyna
	url = https://github.com/santikka/codyna
[submodule "cograph"]
	path = cograph
	url = https://github.com/mohsaqr/cograph
[submodule "cooccure"]
	path = cooccure
	url = https://github.com/mohsaqr/cooccure
[submodule "dynarules"]
	path = dynarules
	url = https://github.com/mohsaqr/dynarules
[submodule "honets"]
	path = honets
	url = https://github.com/mohsaqr/honets
[submodule "htna"]
	path = htna
	url = https://github.com/sonsoleslp/htna
[submodule "idiographic"]
	path = idiographic
	url = https://github.com/mohsaqr/idiographic
[submodule "lagdynamics"]
	path = lagdynamics
	url = https://github.com/mohsaqr/lagdynamics
[submodule "psychnets"]
	path = psychnets
	url = https://github.com/mohsaqr/psychnets
[submodule "sbert"]
	path = sbert
	url = https://github.com/sonsoleslp/sbert
[submodule "simulab"]
	path = simulab
	url = https://github.com/mohsaqr/simulab
[submodule "snakeplot"]
	path = snakeplot
	url = https://github.com/mohsaqr/snakeplot
[submodule "texthypergraph"]
	path = texthypergraph
	url = https://github.com/mohsaqr/texthypergraph
[submodule "transitiontrees"]
	path = transitiontrees
	url = https://github.com/mohsaqr/transitiontrees
[submodule "tsn"]
	path = tsn
	url = https://github.com/mohsaqr/tsn
